

.logoheader{
  transform: rotateZ(-40deg);
  top: -5rem;
  left: 0rem;
  z-index: -10;
  width: 8rem;
}



.image-1 {   width: 45%; }

.image-2 {   width: 45%; }
  
/* --animacion tarjetas-- */
.perspective{
  perspective: 150rem;
}

.rotate:hover {
  transition: all .5s ease-in-out;
  transform: rotateY(50deg) ;
  opacity: 1;|

}


.textdes-1{
  position: absolute;
  transform: translate(-50%);
  left: 137%;
  top: 40%;

  width: 70%;
 
}

.rotate:hover ~ .textdes-1{
  transition: all .5s ease-out;
  opacity: 1;
  display: flex;
  flex-direction: column;
  
}

.rotate:hover ~ .image-2{
  opacity: .1;

}

.opacity-1{
  opacity: .3;
}

.formstyle{
  background-color: var(--primary);
  border-radius: var(--radius-1);
  border: 2px solid var(--dark-primary) ;
  color: white;
  outline: none
}


