.logoheader{
  transform: rotateZ(-40deg);
  top: -5rem;
  left: 0rem;
  z-index: -10;
  width: 8rem;
}

.card-1{
  transition: all 400ms ease-out;;
  opacity: .5;
}

.card-1:hover{
  transform: scaleX(1.2) translateX(20%);
  opacity: 1;
  z-index: 1;
}  
  
.card-2{
  transition: all 400ms ease-out;;
  opacity: .5;
}

.card-2:hover{
  transform: scaleX(1.2) translateX(-20%);
  opacity: 1;
  
}  

